.card-body{
  background-color: goldenrod;
  font-family: Arial,sans-serif;
  font-weight: bold;
  padding: 40px;
  color: brown;
  margin: 0;

;

}
.form-group, .form-control{
  margin-bottom: 5px;
  margin-top: 5px;

}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  font-family: Arial, sans-serif;
  color: brown;
}
.mat-label {
  font-family: Arial, sans-serif;
  color: brown;
}
