<app-header></app-header>
<h1 class = card-body>Rejestracja nowego użytkownika</h1>
<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm">
      <div class="form-group">
        <label for="firstName">Imię</label>
        <input type="text" [(ngModel)]="user.firstName"
               class="form-control"
               id="firstName"
               name="name"
               placeholder="podaj imię"
               required #firstName="ngModel">
      </div>
      <div class="form-group">
        <label for="name">Nazwisko</label>
        <input type="text" [(ngModel)]="user.lastName"
               class="form-control"
               id="name"
               name="name"
               placeholder="podaj nazwisko"
               required #firstName="ngModel">
      </div>
      <div [hidden]="!firstName.pristine" class="alert alert-danger">Name is required</div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="user.email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Enter your email address"
               required #email="ngModel">
        <div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div>
      </div>
      <button type="submit" [disabled]="!userForm.form.valid"
              class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
