<app-header></app-header>
<div class="background__account buttons__trip">

  <h2 class="font__trip">Wycieczka: </h2>
  <p></p>

  <mat-card class="mat__trip">
   <div><span class="font__trip">Kontynent: </span> azja  </div>
  </mat-card>
  <p></p>
  <mat-card class="mat__trip">
   <div><span class="font__trip">Kraj: </span>  </div>
  </mat-card>
  <p></p>
  <mat-card class="mat__trip">
    <div><span class="font__trip">Miasto: </span>  </div>
  </mat-card>
  <p></p>
  <mat-card class="mat__trip">
    <div><span class="font__trip">Data rozpoczęcia wycieczki: </span>  </div>
  </mat-card>
  <p></p>
  <mat-card class="mat__trip">
    <div><span class="font__trip">Data zakończenia wycieczki: </span>  </div>
  </mat-card>
    <p></p>

<div>
  <button name="BuyingATrip" formtarget="_blank">
  {{'Kup wycieczkę'}}</button>
</div>
  <p></p>

</div>
