<main class="background__main">

  <app-login></app-login>

  <app-header></app-header>

  <table>
    <tbody>
    <tr>
      <td>
        <app-continent></app-continent>
      </td>
      <td>
        <app-continent></app-continent>
      </td>
      <td>
        <app-continent></app-continent>
      </td>
    </tr>
    <tr>
      <td>
        <app-continent></app-continent>
      </td>
      <td>
        <app-continent></app-continent>
      </td>
      <td>
        <app-continent></app-continent>
      </td>
    </tr>
    </tbody>
  </table>

</main>
